.gallery-container {
  display: grid;
grid-template-columns: 33% 33% 33%;
    margin-left: 38px;
    row-gap: 23px;
  /* flex-wrap: wrap; */
  
  max-width: 100%;
  justify-content: center;
 
}
.image-sty {
  height: 300px;
  width: 500px;
  border-radius: 20px;
}
