.login-container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 0px auto;
  /* margin-top:65px; */
}
.heading {
  font-weight: 700;
  text-align: center;
}
.txtfields {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}
.textgoo {
  text-align: center;
  font-size: 18px;
  color: black;
  display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.errorMessage{
  color:red;
  margin:0px;
}
.button-con {
  margin-top: 20px !important;
  background-image: linear-gradient(
    to right,
    rgb(33, 33, 228),
    rgb(97, 97, 219)
  );
  text-transform: capitalize !important;
}

