.todo-header{
    text-align: center;
    background-color: violet;
    color:white;
    font-size: 22px;
    padding:20px;
}
.todo-container{
    width:500px;
  /* height:1000px; */
  position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px auto;
}
.todo-items{
    background-color: white;
    height:max-content;
    padding:10px;
}
.add-todoinput{
    width:323px;
    padding:10px;
}
.todo-inputs{
    display: flex;
    flex-direction: row;
    margin:40px;
    border:1px solid violet

}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.add-button{
        width: 54px;
    font-size: 20px;
    padding: 10px;
    background: violet;
    color: white;
    border:none;
    cursor: pointer;
}
.delete-button{
    color:violet;
    font-size: 24px;
    border:none;
    background:none;
    cursor: pointer;
}
.todo-text{
    font-size: 20px;
    font-family: sans-serif;
    width:300px;
}
.edit-con{
    width:200px;
    height:200px;
    background-color: gray;
    box-shadow: 10px 10px 5px lightblue;
}.modal {
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {

    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 91px;
  }